
@model BAIDA2021.ClassProject.Carton_type
@{
    ViewBag.Title = "EdittypeCorton";
}



<head>

    <!-- Colorpicker Css -->
    <!-- Multi Select Css -->
    <link href="~/rtl/assets/js/bundles/multiselect/css/multi-select.css" rel="stylesheet">
    <!-- Plugins Core Css -->
    <link href="~/rtl/assets/css/app.min.css" rel="stylesheet">
    <link href="~/rtl/assets/js/bundles/materialize-rtl/materialize-rtl.min.css" rel="stylesheet">
    <link href="~/rtl/assets/css/form.min.css" rel="stylesheet">
    <!-- Custom Css -->
    <link href="~/rtl/assets/css/style.css" rel="stylesheet">
    <!-- You can choose a theme from css/styles instead of get all themes -->
    <link href="~/rtl/assets/css/styles/all-themes.css" rel="stylesheet" />
</head>
<style>
    #delevary_Place {
        display: block;
    }
</style>
<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">المستودعات</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a href="/Warehouses/cartonType">
                                <i class="fas fa-home"></i>نوع الكرتون او الورق


                            </a>
                        </li>


                    </ul>
                 
                </div>

            </div>
            @if (ViewData["Error"] != null)
            {
                <div class="alert alert-danger">
                    @ViewData["Error"]
                </div>
            }
        </div>

        @using (Html.BeginForm("EdittypeCorton", "Warehouses", FormMethod.Post))
        {

            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="body">
                            <form>
                                <div class="row clearfix">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                        <div class="form-group form-float">
                                            <div class="form-line">

                                                @Html.EditorFor(x => x.Type, new { HtmlAttributes = new { @class = "form-control", type = "text" } })


                                                <label class="form-label">نوع الكرتون او الورق </label>
                                            </div>
                                        </div>
                                    </div>





                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">

                                    </div>


                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">


                                    </div>

                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">


                                    </div>



                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                        <div class="form-group form-float">
                                            <div class="form-line">
                                                <button type="submit" class="btn btn-success waves-effect">حفظ </button>

                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>


        }





    </div>
</section>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/rtl/assets/js/app.min.js"></script>
<script src="~/rtl/assets/js/form.min.js"></script>
<script src="~/rtl/assets/js/bundles/multiselect/js/jquery.multi-select.js"></script>
<script src="~/rtl/assets/js/bundles/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.js"></script>
<!-- Custom Js -->
<script src="~/rtl/assets/js/admin.js"></script>
<script src="~/rtl/assets/js/pages/forms/advanced-form-elements.js"></script>


